/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
 background: #fff;
 font-family: 'Inter', sans-serif;
}

.header {
  h1 {
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: -0.045em;
    line-height: 1.1em;
    padding: 0;
    margin: 0;
    @media (min-width: 450px) {
      font-size: 1.7em;
    }
    @media (min-width: 600px) {
      font-size: 2.2em;
    }
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
  }
  background: #111;
  color: white;
  font-weight: 300;
}

.total-cases {
  font-weight: 500;
  text-transform: uppercase;
  p {
    padding: 0;
    margin: 6px 0 0 0;
    font-size: 0.7em;
    @media(min-width: 500px) {
      font-size: 0.9em;
      line-height: 1.2em;
    }
  }
  span {
    color: #fed907;
    font-weight: 800;
    display: block;
    font-size: 1.5em;
    @media(min-width: 500px) {
      font-size: 1.8em;
    }
    line-height: 1.0em;
    &.deaths {
      color: #f70000;
    }
    &.recoveries {
      color: #26dc4e;
    }
    @media(min-width: 600px) {
      font-size: 2.0em;
    }
    @media(min-width: 992px) {
      font-size: 1.7em;
    }
    @media(min-width: 1100px) {
      font-size: 2.0em;
    }
  }
}

h2 {
  font-weight: 800;
  font-size: 1.6em;
  letter-spacing: -0.045em;
  line-height: 1.1em;
  text-align: center;
}

h3 {
  font-weight: 800;
  font-size: 1.4em;
  letter-spacing: -0.045em;
  line-height: 1.1em;
  text-align: center;
  .chart-individual-zip-code & {
    font-size: 1.2em;
  }
  span {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: block;
  }
}

h4 {
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: -0.045em;
  line-height: 1.1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.85em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: underline;
  &:hover {
    color: black;
  }
}

p {
  letter-spacing: -0.045em;
}

.alert {
  background: #f70000;
  border-radius: 0px;
  h2 {
    color: white;
    span {
      font-size: 0.9em;
      font-weight: 600;
    }
  }
  p {
    margin: 0;
    padding: 0;
    color: white;
    a {
      color: white;
      font-weight: 700;
    }
  }
}

.alert-notice {
  background: #ccc;
  p {
    color: #333;
    font-size: 14px;
  }
}

.table .thead-dark th {
  background: #666;
}

th, td {
  font-size: 0.9em;
  width: 25%;
}

th {
  background: rgba(0,0,0,0.05);
}

tr:nth-child(even) {
  background: rgba(0,0,0,0.05);
}

.footer {
  background: #111;
  color: #888888;
  font-size: 0.8em;
  a {
    color: #888888;
    &:hover {
      color: #888888;
    }
  }
}

table.dataTable.table-sm .sorting::before, table.dataTable.table-sm .sorting_asc::before, table.dataTable.table-sm .sorting_desc::before {
  right: 1.35em;
}

.btn-sm {
  font-size: 0.7em;
}

.fa-caret-up, .fa-caret-down {
  font-size: 1.2em;
}

.fa-bad {
  color: #f70000;
}

.fa-good {
  color: #26dc4e;
}
